.MessageCard {
  position: relative;
  padding: 6px 20px;
  background-color: ghostwhite;
  border-radius: 6px;
  box-shadow: 0 0 2px rgba(24, 24, 24, 0.45);
}

.MessageCard__text {
  font-size: 1rem;
}

.MessageCard__info {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 0.9rem;
  color: rgb(174, 174, 174);
}

.MessageCard__delete {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 8px;
  color: gray;
  font-weight: bold;
  cursor: pointer;
  transition: all 1.35s;
}

.MessageCard__delete:hover {
  color: #f08080;
  border: 3px solid #f08080;
}

.MessageCard__delete:active {
  background-color: #f08080;
}
