.Navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  padding: 25px 40px;
  color: lightseagreen;
  background-color: ghostwhite;
  border-bottom: 5px solid lightseagreen;
}

.Navbar__socialName {
  display: flex;
  align-items: center;
  gap: 20px;
}

.Navbar__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.Navbar__menu li {
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
}

.Navbar__menu .friends:hover {
  letter-spacing: 3px;
}

.Navbar__menu .liveStories:hover {
  letter-spacing: 3px;
}

.Navbar__menu .account {
  margin-top: 10px;
  letter-spacing: 0;
  font-style: italic;
  font-size: small;

  color: rgb(4, 70, 78);
}

.Navbar__menu .profileSettings {
  margin-bottom: 20px;
  letter-spacing: 0;
  font-style: italic;
  font-size: small;
  color: rgb(114, 114, 114);
}

.Navbar__menu .profileSettings:hover {
  color: black;
}

.Navbar__menu .logOut {
  letter-spacing: 0;
  font-size: small;
  color: rgb(114, 114, 114);
}

.Navbar__menu .logOut:hover {
  color: black;
}
